
  /* ===================== Custom CSS ===================== */
  
  /*====== common styles =======*/
:root{
    --citrusStylesSE-elsey-light: #e9f7ff;
  }
  /* All the Fonts from Petco.com */
    @font-face {
    font-family: 'PetcoCircular-Bold';
    src: url('fonts/PetcoCircular-Bold.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    }    
    @font-face {
      font-family: 'PetcoCircular-Black';
      src: url('fonts/PetcoCircular-Black.otf') format('otf');
      font-weight: 700;
      font-style: normal;
    }    
    @font-face {
      font-family: 'PetcoCircular-Medium';
      src: url('fonts/PetcoCircular-Medium.otf') format('otf');
      font-weight: 700;
      font-style: normal;
    }
    @font-face {
      font-family: 'PetcoCircular-Regular';
      src: url('fonts/PetcoCircular-Regular.woff2') format('woff');
      font-weight: normal;
      font-style: normal;
    }  
    
  /* Elsey Page common bg */
  .citrusStylesSE__BG--navy{
    background-color: var(--citrusStylesSE-primary-navy);
  }
  .citrusStylesSE__BG--light{
    background: var(--citrusStylesSE-elsey-light);
  }
  
  /* New box & position */
  .citrusStylesSE-box-auto{
    margin: 0px auto;
  }
  .citrusStylesSE-grid--center-top{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  /* New 3 cells */
  .citrusStylesSE-grid__cell--width-72{
    -webkit-box-flex: 72%;
        -ms-flex: 72%;
            flex: 72%;
  }
  .citrusStylesSE-grid__cell--width-28{
    -webkit-box-flex: 28%;
        -ms-flex: 28%;
            flex: 28%;
  }
  .citrusStylesSE-grid__cell--gap-20{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  
  /* text styles */
  .citrusStylesSE__text--heading{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'PetcoCircular-Bold';
    font-weight: var(--citrusStylesSE-text-font-weight-heavy);
    font-size: 25px;
  }
  .citrusStylesSE__text--subHead{
    font-family: 'PetcoCircular-Regular';
    font-size: var(--citrusStylesSE-text-font-size-medium);
  }
  .citrusStylesSE-card__title{
    font-family: 'PetcoCircular-Bold';
    color: var(--citrusStylesSE-color-00);
    font-size: 1.125em;
    line-height: 22px;
    font-weight: var(--citrusStylesSE-text-font-weight-heavy);
  }
  /* .citrusStylesSE__text--bold{
    font-family: 'PetcoCircular-Bold';
    font-weight: 700;
    font-size: 1.5625em;
    line-height: 30px;
    color: var(--citrusStylesSE-color--00);
  }
  .citrusStylesSE__text--regular{
    font-family: 'PetcoCircular-Regular';
    font-weight: 400;  
    font-size: var(--citrusStylesSE-text-font-size-medium);  
    color: var(--citrusStylesSE-color--00);
  } */
  .citrusStylesSE__text--dark{
    color: var(--citrusStylesSE-color--00);
  }
  .citrusStylesSE__text--light{
    color: var(--citrusStylesSE-color-10);
  }
  
  /* button styles */
  .citrusStylesSE-button.citrusStylesSE-button--common{
    font-family: 'PetcoCircular-Bold',arial!important;
    margin-top: 30px;
    padding: 20px 60.74px 16px 60.73px;
    /* width: 211px;
    height: 56px;  */
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .citrusStylesSE-button.citrusStylesSE-button--navy{
    background-color: var(--citrusStylesSE-primary-navy);
    color: var(--citrusStylesSE-color--10);
  }
  .citrusStylesSE-button.citrusStylesSE-button--light{
    background-color: var(--citrusStylesSE-color--10);
    color: var(--citrusStylesSE-primary-navy);
  }
  .citrusStylesSE-button.citrusStylesSE-button--common:hover{
    -webkit-filter: none!important;
            filter: none!important;
  }
  /*====== common styles ======*/
  







  
  /*====== Page styles ======*/
  /* Hero Section */
  .citrusStylesSE__Hero{
    margin-bottom: 4.0625em;
  }
  .citrusStylesSE__Hero_left--content {
    /* 
    max-width: 100%; */
    max-width: 58%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .citrusStylesSE__Hero_left--content-logo {
    margin: 30px 0 35px 0;
    width: 216px;
    max-width: 100%;
  }
  .citrusStylesSE__Hero .citrusStylesSE__text--heading {
    font-size: 2.1875em;
    line-height: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .citrusStylesSE__Hero .citrusStylesSE__text--subHead {
    margin: 10px 0 0 0;
    max-width: 558px;
  }
  .citrusStylesSE__Hero_right--content-product{
    width: 442px;
    height: 315px;
    top: 43px;
    left: -201px;
  }
  .citrusStylesSE__Hero .citrusStylesSE-button{
    padding: 20px 60.74px 16px 60.73px;
  }
  /* Hero Section e */
  
  /* Benefit Section */
  .citrusStylesSE__benefit .citrusStylesSE-container--large{
    overflow: auto;
  }
  .citrusStylesSE__benefit .citrusStylesSE-grid__cell{
    max-width: 199px;
  }
  .citrusStylesSE__benefit .citrusStylesSE-card__title{
    margin-top: 25px;
  }
  .citrusStylesSE-card img {
    width: 177px;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .citrusStylesSE__benefit .citrusStylesSE-button{
    margin-top: 20px;
    padding: 20px 56.72px 16px 56.71px;
  }
  /* Benefit Section e */
  
  /* Product Section */
  .citrusStylesSE__product .citrusStylesSE__text--heading {
    margin-top: 48px;
    margin-bottom: 58px;
  }
  .citrusStylesSE__product .citrusStylesSE-grid{
    max-width: 826px;
    overflow: auto;
  }
  .citrusStylesSE__product .citrusStylesSE-card{
    width: 198px;
  }
  .citrusStylesSE__product .citrusStylesSE-card__body{
    padding: 0;
  }
  .citrusStylesSE__product img{
    width: auto;
    max-width: none;
  }
  .citrusStylesSE__product .citrusStylesSE-card__title {
    font-family: 'PetcoCircular-Regular';
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin: 10px 0 18px 0;
  }
  .citrusStylesSE__product a {
    font-family: 'PetcoCircular-Bold',arial!important;
    font-size: 16px;
    color: var(--citrusStylesSE-primary-navy);
    text-decoration: underline;
  }
  .citrusStylesSE__product .citrusStylesSE-button{
    margin-top: 41px;
    padding: 20px 22.04px 16px 21.73px;
  }
  /* Product Section e */
  
  /* Vdieo Banner Section */
  .citrusStylesSE__videoBanner{
    margin: 70px auto;
    width: 100%;
  }
  .citrusStylesSE__videoBanner .citrusStylesSE__text--heading {
    margin-top: 10px;
    margin-bottom: 18px;
  }
  .citrusStylesSE__videoBanner .citrusStylesSE__text--subHead{
    line-height: 22px;
  }
  .citrusStylesSE__videoBanner .citrusStylesSE-grid{
    width: 1100px;
    max-width: 100%;  
  }
  .citrusStylesSE__videoBanner-content img{
    width: 247px;
    margin: auto;
  }
  .citrusStylesSE__videoBanner iframe{
    width: 100%;
    border: none;
    margin-top: -30px;
    padding-bottom: 30px;
  }
  /* Vdieo Banner Section e */
  
  /* Product Banner Section */
  .citrusStylesSE__productBanner{
    margin-bottom: 30px;
  }
  .citrusStylesSE__productBanner .citrusStylesSE-grid{
    width: 1100px;
    max-width: 100%;  
  }
  .citrusStylesSE__productBanner .citrusStylesSE__text--heading{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .citrusStylesSE__productBanner .citrusStylesSE__text--subHead{
    line-height: 22px;
  }
  .citrusStylesSE__productBanner-product img{
    width: 448px;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin: auto;
  }
  .citrusStylesSE__productBanner .citrusStylesSE-button{
    margin-top: 15px;
    padding: 20px 25.09px 16px 24.73px;
  }
  /* Product Banner Section e */
  
  /* Hide all scrollbar */
  /* #citrusStylesSE__benefit-scroller::-webkit-scrollbar {
    display: none;
  }
  .citrusStylesSE__products::-webkit-scrollbar {
    display: none;
  } */
  /* Hide all scrollbar */
  /*========= responsive styles ===========*/
  @media (max-width: 1250px) {
    .citrusStylesSE__Hero_left--content{
      max-width: 75%;
    }
    .citrusStylesSE__Hero_right--content-product{
      left: -15%;
    }
  }
  @media (max-width: 1100px) {
    .citrusStylesSE__Hero_left--content-logo {
      margin: 30px 0 20px 0;
  }
    .citrusStylesSE__Hero .citrusStylesSE__text--heading{
      font-size: 25px;
    }
  }
  @media (max-width: 921px) {
    /* hero max-921 */
  .citrusStylesSE__Hero  .citrusStylesSE-grid{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    max-width: 100%;
    position: relative;
  }
  .citrusStylesSE__Hero .citrusStylesSE-grid__cell{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .citrusStylesSE__Hero_right--content-product{
    position: relative;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: auto;  
  }
  .citrusStylesSE__Hero_left--content {
    margin: 40px 10%;
  }
  /* hero max-921 e*/
  
  /* benefit max-921 */
  .citrusStylesSE__benefit .citrusStylesSE-container--large{
    max-width: 100%;
  }
  .citrusStylesSE__benefit .citrusStylesSE-grid{
    width: 890px;
    overflow: auto;
  }
  /* benefit max-921 e */
  
  /* Video max-921 */
  .citrusStylesSE__videoBanner-content {
    padding: 0 10px;
  }
  /* Video max-921 e */
  
  /* Product max-921 */
  .citrusStylesSE__productBanner-content {
    padding: 0 10px;
  }
  .citrusStylesSE__products {
    /* width: 826px; */
    max-width: 100%;
    overflow: auto;
    margin: auto;
  }
  .citrusStylesSE__product .citrusStylesSE-grid{
    width: 826px;
    margin-left: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  /* Product max-921 e */
  
  }
  
  @media (max-width: 768px) {
  /* Common max-768  */
  .m-hide{
    display: none;
  }
  .citrusStylesSE__text--heading{
    font-size: 20px;
  }
  .citrusStylesSE-button.citrusStylesSE-button--common{
    text-transform: capitalize;
    text-decoration: underline;
    background: none;
    color: var(--citrusStylesSE-primary-navy);
    margin-top: 5px;
  }
  /* Common max-768 e */
  
  /* Hero max-768  */
  .citrusStylesSE__Hero {
    margin-bottom: 2.375em;
  }
  .citrusStylesSE__Hero_right--content-product {
    position: relative;
    width: 266px;
    max-width: 100%;
    height: 196px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .citrusStylesSE__Hero .citrusStylesSE-grid{
    text-align: center;
  }
  .citrusStylesSE__Hero_left--content-logo {
    width: 162px;
    margin: 30px auto 30px;
  }
  .citrusStylesSE__Hero_left--content {
    margin-left: 0px;
    margin: 40px auto 26px auto;
  }
  .citrusStylesSE__Hero .citrusStylesSE__text--heading {
    font-size: 25px;
  }
  .citrusStylesSE__Hero .citrusStylesSE__text--subHead {
    padding: 0px 10px;
  }
  .citrusStylesSE__Hero .citrusStylesSE-button--common {
    color: var(--citrusStylesSE-color-10);
    margin-top: 20px;
  }
  /* Hero max-768 e */
  
  /* benefit max-768 */
  .citrusStylesSE__benefit .citrusStylesSE-grid {
    width: 590px;
    margin: auto;
  }
  .citrusStylesSE__benefit .citrusStylesSE-grid__cell {
    max-width: 130px;
  }
  .citrusStylesSE__benefit .citrusStylesSE-card img {
    width: 115px;
  }
  .citrusStylesSE-card__title {
    font-size: 15px;
    line-height: 17px;
  }
  /* benefit max-768 e*/
  
  /* Product max-768 */
  .citrusStylesSE__product .citrusStylesSE-button{
    margin-top: 20px;
  }
  /* Product max-768 e*/
  
  /* Video Banner max-768 e*/
  .citrusStylesSE__videoBanner {
    margin: 30px auto;
  }
  .citrusStylesSE__videoBanner .citrusStylesSE-grid{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .citrusStylesSE__videoBanner .citrusStylesSE-grid__cell--gap-20{
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
  }
  .citrusStylesSE__videoBanner .citrusStylesSE-grid__cell{
    width: 100%;
  }
  .citrusStylesSE__videoBanner-content{
    padding: 35px 10px 40px 10px;
  }
  .citrusStylesSE__videoBanner-content img {
    width: 171px;
    max-width: 100%;
  }
  .citrusStylesSE__videoBanner iframe {
    padding-bottom: 0px;
    margin-bottom: -3px;
  }
  /* Video Banner max-768 */
  
  /* Product Banner max-768 */
  .citrusStylesSE__productBanner .citrusStylesSE-grid{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .citrusStylesSE__productBanner .citrusStylesSE-grid__cell--gap-20{
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
  }
  .citrusStylesSE__productBanner-product img {
    padding: 30px 0px;
  }
  .citrusStylesSE__productBanner .citrusStylesSE-button{
    margin-top: 15px;
  }
  .citrusStylesSE__productBanner-content{
    padding: 20px 10px 40px 10px;
  }
  /* Product Banner max-768 e */
  
  }
    
  /*========= responsive styles e ===========*/

  /*=============== Page styles =================*/
  
  /* ===================== Custom CSS e ===================== */
  
  